.form{
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    min-width: 300px;
    padding: 15px;
}
.form > input {
    width: 100%;
}
.link{
    align-self: flex-start;
    color: var(--black);
    font-size: 12px;
}
.buttons{
    align-items: center;
    align-self:flex-end;
    display: flex;
    gap: 10px;
}
.button{
    background-color: transparent;
    border: none;
    font-size: 12px;

}
.button:hover{
    color: var(--secondary);
    cursor: pointer;
    text-decoration: underline;
}
.error{
    color: red;
    font-size:12px;
}