.header{
    background-color: var(--white);
    box-shadow: var(--boxShadow);
    left: 0;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: var(--zIndex);
}

.icon {
    height: 40px;
  }