.movieList{
    display: grid;
    grid-gap : 20px;
    margin-top: 40px;
}
.movieList_xs{
    grid-template-columns: repeat(1, 1fr);
}
.movieList_sm{
    grid-template-columns: repeat(2, 1fr);
}
.movieList_md{
    grid-template-columns: repeat(3, 1fr);
}

.movieList_lg{
    grid-template-columns: repeat(5, 1fr);
}
.movieList_xl{
    grid-template-columns: repeat(6, 1fr);
}
.paginationBar {
    display: flex;
    justify-content: center;
    width: 100%;
  }